
h2{
    text-align: center;
}
button{
    display: block; 
  margin: 0 auto; 
  text-align: center;
}
body{
    text-align: center;
}
#c1{
    background-color: aqua;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#t1{
    font-size: 40px;
}
#bt1{
    font-size: 15px;
    float: right;
}
#bt2{
    font-size: 12px;
    float: left;
}
p.pErro{
    color:red;
}